.navbar {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	top: 0;
  	position: fixed;
  	width: 100%;
  	height: 55px;
  	overflow: hidden;
	font-size: 25px;
	color: #FFFFFF;
	background: #696969;
}

.bottomBar {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	bottom: 0;
  	position: fixed;
  	width: 100%;
  	height: 20px;
  	overflow: hidden;
	font-size: 15px;
	color: #FFFFFF;
	background: #696969;
}

.navList {
	float: left;
  	display: inline;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	border-right: 2px solid #000000;
  	transition-duration: 0.2s;
}

.navList:hover {
	background: #111;
}

.sail {
  	border-radius: 25px;
  	width: 512px;
  	height: auto;
  	margin-left: auto;
  	margin-right: auto;
}

.sailSlot {
	width: 80%;
	padding: 5px;
	border-radius: 25px;
	background: #FFFFFF;
}

.sailBox {
	padding: 5px;
	width: 30%;
	border-radius: 25px;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.infoBox {
	padding: 5px;
	width: 30%;
	border-radius: 25px;
	border: 2px solid #000000;
	background: #FFFFFF;
}

a {
	text-decoration: none;
	display: block;
  	color: white;
}

body {
  background-image: url('Images/bwCsharp.jpg');
  background-position: center;
  background-size: cover;
}