body {
	background-image: url('fort1.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  display: block;
  color: white;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 8px;
}
.button:hover {
  background-color: white;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
  border: none;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border: 2px solid black;
}

.buttondisabled {
  opacity: 0.6;
  cursor: not-allowed;
  float:right;
  background-color:#00008b;
  color:white;
  font-size: 16px;
  border: 2px solid black;
  padding: 7px 16px;
  border-radius: 8px;
}

.topbanner{
  background-color:#00008b;
  padding:10px;
  color:white;
  text-align:left;
  height:50px;
  font-size:25px;
  height:100%;
}

.optionsbox{
  display:block;
  color:black;
  padding:10px;
  font-size:15px;
  height:100px;
}

.circleimg{
	border-radius: 50%;
}